
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}
nav {
  background-color: #212529;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 60px;
}

nav .logo {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
  color:white;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
}
header {
  background: url('../../images/background-image.jpg') no-repeat center center/cover;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: #212529;
  color: white;
  text-align: center;
  padding: 20px;
}

